@font-face{
	font-family: RETROSCAPE;
	src:url('retroscape.zip');
}
*{
	font-family: RETROSCAPE;
}
body{
	background: url('img/regImg.jpg');
}

/*    стилі для меню    */

i{
	color: aliceblue;
	margin: 6px;
}
div.nav a{
	position: relative;
	margin-top: 5px;
	width: 30px;
	height: 30px;
	border-radius: 10px;
	background-color: black;
	color: aliceblue;
	border: 1px solid black;
	text-decoration: none;
	font:19px Tahoma, sans-serif;
	display: block;
	cursor: pointer;
}
i:hover{
	color: darkorange;
	transition:all.2s ease;
}



/*      Стилі для форми            */
.forma{
	text-align: center;

}
.form-row {
	margin-bottom:30px;
	overflow: hidden;
}

input:focus{
	outline: 0;
}

.form-row input{
	padding: 7px;
	height: 24px;
	line-height: 19px;
	padding: 0px 5px;
	width: 250px;
	border:1px solid #ABAdB3;
	border-radius: 5px;
	font-weight: bold;
	font-size: 15px;
	box-shadow: 0 0 3px rgba(0,0,0,.4)inset;
	color: darkblue;
}

#form {
	width: 300px;
	margin: 50px auto;
}
.in{
	opacity: 0.6;
}
.in:active{
	opacity: 0.9;
}

#submit {
	cursor: pointer;
	width: 260px;
	border: 0px;
	height: 25px;
	color: black;
	background-color: #eee;
}
#submit:hover {
	transition: all 0.6s ease;
	background: orange;
}
#submit:active, #submit:focus{
	background: 0f529d;
}
#submit:active:before{
	border-right-color:0f529d;
}

/*    cтилі для футера      */


