body{
background: url('fon.jpg');
}
/*        стилі для меню      */
i{
	color: aliceblue;
	margin: 6px;
}
i:hover{
	color: darkorange;
	transition:all.2s ease;
}
div.nav a{
	position: relative;
	margin-top: 5px;
	width: 30px;
	height: 30px;
	border-radius: 10px;
	background-color: black;
	color: aliceblue;
	border: 1px solid black;
	text-decoration: none;
	font:19px Tahoma, sans-serif;
	display: block;
	cursor: pointer;
}
/*       стилі для форми пошуку       */
.form{
	width: 600px;
	padding: 8px;
	margin: 100px auto 50px;
	background: #4B0082;
	border-radius: 10px;
	box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255, 255, 255,.2);
}
.form input{
	width:480px;
	height: 20px;
	padding: 10px 5px;
	float:left;
	font-weight: bold;
	font-size: 15px;
	font-family: 'RailwayRegular';
	border: 0px;
	background: #eee;
	border-radius: 3px 0 0 3px;
}
.form input:focus{
	outline: 0;
	background: #fff;
	box-shadow: 0 0 2px rgba(0, 0, 0,.8) inset;
}
.form button{
	position: relative;
	float: right;
	border: 0px;
	cursor: pointer;
	width:110px;
	height: 40px;
	font-weight: bold;
	font-size: 15px;
	font-family: 'RailwayRegular', Arial, sans-serif;
	line-height: 40px;
	color: #fff;
	text-transform: uppercase;
	background: #6189ee;
	border-radius: 0 3px 3px 0;
	box-shadow: 0 -1px 0 rgba(0,0,0,.3);
}
.cf:before, .cf:after {
	content: "";
	display: table;
}
.cf:after {
	clear: both;
}
.form button:hover{
background: #267fed;
}
.form button:before{
	content:"";
	position: absolute;
	border-width: 8px 8px 8px 0px;
	border-style: solid solid solid none;
	border-color: transparent #6189ee transparent;
	top: 12px;
	left: -8px;
}
.font button:hover:before{
	border-right-color: #267fed;
}
.font button:active, .font button:focus{
	background: 0f529d;
}
.font button:active:before{
	border-right-color:0f529d;
}
